extends layout

block content
	block login
		div.row.col-md-12
			form.col-md-8.col-md-offset-1#loginForm(method='post')
				div.messageLogin.col-md-4.col-md-offset-6.text-center
					h4.messageAuth #{message}
				fieldset.col-md-4.col-md-offset-6(id='authForm')
					div.col-md-12#authTitle.text-center
						h4 Авторизация
					div.col-md-12#authBody
						.form-group
							input.form-control(placeholder='Логин' name='username' type='text')
						.form-group
							input.form-control(placeholder='Пароль' name='password' type='password')
						.form-group
							button.btnAuth.btn(type='submit') Войти

	script(src='/js/jquery-2.1.4.min.js')
	script(src='/js/loginF.js')
