html {
	background-color: #fafafa;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.menu {
	/*background-color: rgb(238, 114, 136);*/
	/*background-color: #EAEAEA;*/
	background-color: #fff;
	margin: 0 0 10px 0;
	height: 70px;
	/*background-image: url(../images/codepen.svg);*/
	box-shadow: 0px 1px 1px #EAEAEA;
}

.menu-items {
	font-family: "Helvetica";
	margin: 0;
	padding: 16px 0 0 20px;
	font-size: 30px;
	text-shadow: 1px 1px 1px #bbb;
	cursor: pointer;
	/*opacity: .9;*/
}

.menu-items a {
	color: #346BA9;
	/*color: #fff;*/
}

.menu-items .home-page {
	float: left;
	padding-right: 40px;
	/*color: #fff;*/
}

.menu-items .profile-page {
	float: right;
	margin-top: 8px;
	margin-right: 20px;
	font-size: 20px;

	/*color: #fff;*/
}

.menu-items .auth-page {
	float: right;
	/*color: #fff;*/
}

.menu-items .auth-page a {
	float: right;
	margin-right: 10px;
	margin-top: 8px;
	font-size: 20px;
	/*color: #fff;*/
}



.menu-items .feed-page {
	margin-left: -40px;
}


.menu-items a:hover {
	color: #fff;
	/*color: #346BA9;*/
	text-shadow:1px 1px 1px #444;
}

/************************profile*******************************/

.profile-information {
	margin-top: 20px;
	background: none;
	padding: 0;
}

.profile-picture {
	background-color: none;
	opacity: .8;
	border-radius: 250px;
	width: 130px;
	height: 132px;
	margin-top: 10px;
	margin-left: 30px;
	background-image: url(../images/icons/no_profile_picture3.png);
	background-size: cover;
}

#login {
	margin: 12px 0 0 70px;
	font-size: 28px;
}

.profile-description {
	margin: 10px 0 0 70px;
	font-size: 17px;
	font-weight: bold;
}

.profile-stat {
	margin: 0 0 0 70px;
	font-size: 18px;
	padding: 0;
}

.follow button {
	margin-top: -10px;
	border: none;
	border-radius: 2px;
	opacity: .9;
	color: #fff;
}

.follow button:hover {
	opacity: 1;
	color: #fff;
}

.follow button:focus {
	outline: none;
}
.unfollow button {
	margin-top: -10px;
	background-color: #E19494;
	border: none;
	border-radius: 2px;
	opacity: .9;
	color: #fff;
}

.unfollow button:hover {
	opacity: 1;
	color: #fff;
}

.unfollow button:focus {
	outline: none;
}

.log-out button {
	margin-top: -10px;
	border: none;
	border-radius: 2px;
	opacity: .9;
}

.profile-stat ul {
	margin: 0;
	padding: 0;
}

.profile-stat li {
	margin-right: 20px;
	margin-top: 10px;
	padding: 0;
}

.empty-posts {
	margin-top: 100px;
	/*background-color: #bbb;*/
	font-size: 20px;
}

/*************************************post*****************************************/
.right-post-menu {
}


.delete-post {
	margin-top: 55px;
	margin-left: 8px;
	background: none;
	border: none;
	background-image: url(../images/icons/delete6.png);
	background-size: cover;
	width: 25px;
	height: 30px;
	opacity: .5;
}

.delete-post:hover {
	opacity: .9;
	background-image: url(../images/icons/delete7.png);
	cursor: pointer;
}

.delete-post:focus {
	outline: none;
}

/*.statistics li:first-of-type {

}

.statistics li:last-of-type {
}*/

/*.post .thumbnail {
	padding: 0;
	border: none;
}*/



/*****************************posts******************************/

.sorting-params {
	margin-top: 30px;
}

#sortAllPosts {
	background-color: #FAFAFA;
	padding: 2px;
	color: #666;
	font-size: 20px;
}

#sortAllPosts:hover {
	background-color: #FAFAFA;
	color: #333;
	border-radius: 0;
}

#sortAllPosts:focus {
	outline: none;
	box-shadow: none;
}

#sortFollowers {
	background-color: #FAFAFA;
	padding: 2px;
	color: #666;
	font-size: 20px;
}

#sortFollowers:before:hover {
	content: '|';
	color: #666;
	margin-right: 10px;
}

#sortFollowers:hover {
	background-color: #FAFAFA;
	color: #333;
	border-radius: 0;
}

#sortFollowers:focus {
	outline: none;
	box-shadow: none;
}

/************************profile*****************************/

#profileSettings button {
	margin-bottom: -4px;
	margin-left: 12px;
	height: 25px;
	width: 25px;
	background-image: url(../images/icons/settings6.png);
	background-size: cover;
	opacity: .7;
	cursor: pointer;
	background-color: #FAFAFA;
	box-shadow: none;
	border: none;
}

#profileSettings button:hover {
	opacity: 1;
}

#profileSettings button:focus {
	outline: none;
	box-shadow: none;
}

#userPosts {
	cursor: pointer;
}

#subscriptions {
	cursor: pointer;
}

#followers {
	cursor: pointer;
}

#subscriptions-followers {
	background-color: #E9E9E9;
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 4px;
	border: 1px solid #E4E4E4;
}

#subscriptions-followers ul {
	margin-top: 10px;
}

#subscriptions-followers ul li:nth-child(2) {
	float: left;
	margin-top: 4px;
	margin-left: 14px;
	font-size: 22px;
}

#subscriptions-followers ul li:nth-child(1) {
	float: left;
	margin-top: 0;
	margin-left: 0;
	font-size: 22px;
	height: 35px;
	width: 35px;
	border-radius: 25px;
	background-image: url(../images/icons/no_profile_picture3.png);
	background-size: cover;
	background-color: #E9E9E9;
	opacity: 1;
}

#subscriptions-followers ul li:nth-child(3) {
	float: right;
}

.profile-stat li span:first-child {
	margin-right: 3px;
	font-weight: bold;
}
.profile-stat li span:last-child {

}

/***********************login***********************/

#authForm {
	background-color: #E9E9E9;
	margin-top: 25px;
	border: 1px solid #E4E4E4;
	border-radius: 4px;
	padding: 0;
}

#authTitle {
	background-color: #fff;
	height: 30px;
	border-radius: 4px 4px 0 0;
	border-color: #fff;
}

#authTitle h4 {
	padding: 0;
	margin-top: 6px;
	color: #999;
}

#authBody {
	padding: 15px 15px 0 15px;
}

#authBody button {
	width: 100%;
	margin: 0;
	background-color: #52ABA3;
	border-color: #E4E4E4;
	border-radius: 3px;
	color: #E4E4E4;
}

#authBody button:focus {
	outline: none;
}

.messageLogin {
	margin-top: 20px;
}

.messageLogin h4 {
	color: #CE5E5E;
}

/***********************registration***********************/

#regForm {
	background-color: #E9E9E9;
	margin-top: 25px;
	border: 1px solid #E4E4E4;
	border-radius: 4px;
	padding: 0;
}

#regTitle {
	background-color: #fff;
	height: 30px;
	border-radius: 4px 4px 0 0;
	border-color: #fff;
}

#regTitle h4 {
	padding: 0;
	margin-top: 6px;
	color: #999;
}

#regBody {
	padding: 15px 15px 0 15px;
}

#regBody button {
	width: 100%;
	margin: 0;
	background-color: #52ABA3;
	border-color: #E4E4E4;
	border-radius: 3px;
	color: #E4E4E4;
}

#regBody button:focus {
	outline: none;
}

.messageReg {
	margin-top: 20px;
}

.messageReg h4 {
	color: #CE5E5E;
}

.messageRegSuccess {
	margin-top: 20px;
}

.messageRegSuccess h4 {
	color: #555;
}

/*********************profile-settings*****************/

small {
	margin-left: 7px;
}

#profile-settings h4 {
	color: #444;
	font-size: 25px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.profile-item .page-header {
	cursor: pointer;
}

.messages {
	display: table;
	background-color: #C6C6C6;
	height: 182px;
	border-radius: 4px;
	color: #fff;
}

.messages h3 {
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
}

.errInput input {
	border-color: rgb(223, 120, 120);
	background-color: rgb(237, 173, 173);
	color: #fff;
}

.errInput input::-webkit-input-placeholder {
	color: #fff;
}

.errInput input:focus {
	border-color: rgb(223, 120, 120);
	box-shadow: 0 0 2px rgb(223, 120, 120);
}


/*****************************constructer******************************/

.postName {
	margin-top: 15px;
	margin-bottom: 5px;
}

.constructorPostHead {
	margin: 0 0 20px 0;
	padding: 0;
}

.constructorPostInfo {
	margin-left: -15px;
}

.constructorPostInfo input {
	border-radius: 2px;
	margin-top: 40px;
	margin-bottom: 20px;
	/*height: 50px;*/
}

.constructorPostInfo textarea {
	border-radius: 2px;
	/*height: 50px;*/
}


.image {
	margin: 0 0 0 -15px;
	background-color: #999;
	background-image: url(../images/default-thumb.gif);
	background-size: cover;
	height: 250px;
	width: 250px;
	/*border: 1px solid #E4E4E4;*/
}

.postDesc {
	margin-top: 5px;
	margin-bottom: 20px;
}

.postDesc textarea {
	height: 100px;
}

.display-type {
	background-color: #eee;
	margin-bottom: 20px;
	padding: 0;
}

.display-type ul {
	margin: 0;
}


.display-type li {
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

#activeStr {
	opacity: .7;
}

.fullStrItems {
	height: 25px;
	width: 25px;
	margin-left: 20px;
	margin-right: 20px;
	background-image: url(../images/icons/square-menu.png);
	background-size: cover;
	opacity: .4;
}

.fullStrItems:hover {
	opacity: .6;
	cursor: pointer;
}

.shortStrItems {
	opacity: .4;
	height: 25px;
	width: 25px;
	background-image: url(../images/icons/list-items.png);
	background-size: cover;
}

.shortStrItems:hover {
	opacity: .6;
	cursor: pointer;
}

.counter {
	background-color: rgb(244, 127, 127);
	height: 68px;
	padding: 11px;
	color: #fff;
	font-size: 40px;
}

.addItem {
	background-color: #eee;
	height: 68px;
	padding: 15px;
	font-size: 30px;
	color: #8F8F8F;
}

.addItem:hover {
	cursor: pointer;
	background-color: #BEBEBE;
	color: #fff;
}

.messageConstructor {
	height: 70px;
	background-color: #fff;
	margin-bottom: 20px;
	border: 1px solid #eee;
	border-radius: 14px;
}

.messageConstructor h3 {
	/*padding-left: 20px;*/
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
	color: #444;
}

.messageConstructor div:nth-child(2) {
	/*padding: 3px 0 0 0;*/
	height: 68px;
	display: table;
	margin-left: -43px;
}

.messageConstructor div:nth-child(1) {
	height: 68px;
	background: url(../images/icons/warning3.png) 30% 50% no-repeat;
	opacity: .6;
}

.thumbnail {
	padding: 0;
}

.item .thumbnail {
	border-radius: 0;
	/*margin-bottom: 0;*/
}

/*
.item img {
	background-color: #eee;
	margin: 0;
	padding: 0;
	height: 350px;
	width: 100%;
}*/

.itemBody p:nth-child(1) {
	padding: 5px;
	margin: 0;
}

.itemBody {
	margin-top: 0;
	border: none;
	background-color: #eee;
	/*background-color: red;*/
}

.delItemShort {
	border-radius: 50px;
	height: 45px;
	width: 45px;
	margin-top: 8px;
	margin-left: 25px;
	margin-right: 20px;
	padding: 17px;
	font-size: 25px;
	color: #fff;
	background: #0A8080 url(../images/icons/cross.png) 50% 50% no-repeat;
	-webkit-filter: invert(100%);
	filter: invert(100%);
/*	background-size: 40px 40px;*/
}

.delItemShort:hover {
	opacity: 1;
	cursor: pointer;
}

.delItemFull {
	height: 35px;
	margin-top: -20px;
	margin-bottom: 35px;
	padding: 5px;
	background-color: #fff;
	font-size: 20px;
	color: #888;
	border: 1px solid #eee;
	border-radius: 0 0 4px 4px ;
	opacity: .6;
}

.delItemFull:hover {
	background-color: rgb(244, 127, 127);
	border: none;
	opacity: 1;
	color: #fff;
	cursor: pointer;
}

.goToSettings {
	background-color: #fff;
	/*padding-bottom: */
	height: 52px;
	font-size: 20px;
	color: #333;
	border: 1px solid #eee;
	border-radius: 14px;
	margin-bottom: 20px;
	margin-left: 185px;
	margin-right: 24px;
}

.goToSettings::before {
	content: url(../images/icons/postSettings.png);
	position: relative;
	top: 10px;
	left: -10px;
}

.goToSettings:hover {
	cursor: pointer;
}

.openSettings div:nth-child(1) h3 {
	margin: 10px 0 0 0;
	font-size: 20px;
}

.openSettings div:nth-child(1) h3:hover {
	cursor: pointer;
}

.openSettings div:nth-child(1) h3::before {
	content: url(../images/icons/postSettings.png);
	position: relative;
	top: 10px;
	left: -10px;
}

.openSettings {
	background-color: #fff;
	/*padding-bottom: */
	height: 52px;
	font-size: 20px;
	color: #333;
	border: 1px solid #eee;
	border-radius: 14px;
	margin-bottom: 20px;
	margin-left: 45px;
	margin-left: 0;
	height: 355px;
}

.openSettings .row:nth-child(1) {
	margin-top: 35px;
}

.openSettings .row:nth-child(2) {
	margin-top: 20px;
}

.checkboxBlock {
	padding: 0;
	margin-left: 15px;
	margin-top: 35px;
}


.openSettings .row {
	font-size: 15px;
}

#onlyForReg {
	position: relative;
	top: 4px;
	height: 18px;
	width: 18px;
}

.settingsMes {
	margin-top: 52px;
	margin-left: 30px;
	height: 170px;
	border-radius: 4px;
	background-color: #eee;
	display: table;
}

.newSettingsMessage {
	font-size: 16px;
	display: table-cell;
	vertical-align: middle;
}

.timeForEnd div:nth-child(1) {
	margin-top: 10px;
	margin-bottom: 10px;
}

.timeForEnd div label {
	margin-top: 8px;
}

#timeForEndHours {
	float: right;
	width: 80px;
}

#timeForEndDate {
	float: right;
	width: 150px;
}

.savePost {
	/*background-color: #5480A3;*/
	background-color: #F47F7F;
	height: 52px;
	padding: 14px;
	font-size: 20px;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
	margin-bottom: 20px;
	/*margin-left: 53px;*/
}

/*
.save::before {
	content: url(../images/icons/postSave3.png);
	position: relative;
	opacity: .9;
	top: 7px;
	left: -10px;
}*/

.savePost:hover {
	cursor: pointer;
}

.constructorInfo {
	margin-top: 100px;
	border-radius: 4px;
	height: 220px;
	/*background-color: #fff;*/
	padding: 0;
}

.constructorInfo h3 {
	font-size: 20px;
}

.constructorComplete h4 {
	margin-top: 30px;
	font-size: 20px;
}

.shareToFriends {
	height: 170px;
	background-color: #fff;
	border: 1px solid #eee;
}

.socialNet li {
	height: 40px;
	width: 40px;
	margin-top: 15px;
	margin-left: 10px;
	cursor: pointer;
}

.socialNet li:nth-child(1) {
	background-image: url(../images/icons/vk.png);
	position: relative;
	background-size: cover;
}

.socialNet li:nth-child(2) {
	background-image: url(../images/icons/twitter.png);
	position: relative;
	background-size: cover;
}

.socialNet li:nth-child(3) {
	background-image: url(../images/icons/fb.png);
	position: relative;
	background-size: cover;
}

.postLink {
	margin-top: 20px;
	color: #888;
}

.postLink span {
	margin-left: 5px;
	color: #888;
	cursor: pointer;
}

.postLink span:hover {
	color: blue;
}

.goToPost {
	background-color: #619BBD;
	height: 50px;
	cursor: pointer;
}

.goToPost h3 {
	margin-top: 13px;
	color: #fff;
}

.postImageBlock {
	background-color: #eee;
	margin-right: 15px;
	padding: 0;
}


.alignmentPostImg {
	text-align: center;
	vertical-align: center;
	height: 200px;
	line-height: 200px;
}

.alignmentPostImg img {
	padding-top: 5px;
	max-height: 200px;
	max-width: 250px;
}

.alignmentItemsImg {
	background-color: #fff;
	text-align: center;
	vertical-align: center;
	height: 240px;
	line-height: 250px;
}

.alignmentItemsImg img {
	padding-top: 5px;
	max-height: 200px;
	max-width: 330px;
}

.postImageBlock form {
	background-color: #666;
	height: 45px;
}

#inputMask {
	background: #88AFD2 url(../images/icons/choice.png) 50% 30% no-repeat;
	height: 45px;
	cursor: pointer;
	margin-top: -45px;
}

.fileInput {
	cursor: pointer;
	height: 45px;
	width: 100%;
	margin-top: 0;
	opacity: 0;
	padding: 0;
}

.mask-wrapper .send-file {
	height: 45px;
	background-color: blue;
}

.download-image {
	box-shadow: none;
	width: 100%;
	border: none;
	height: 45px;
	background: #CDDDD3 url(../images/icons/save_image3.png) 50% 40% no-repeat;
}

.download-image:hover {
	background-color: #9BCDAD;
}

.download-image:focus {
	outline: none;
}

.mask {
	margin: 0;
}

.mask li {
	padding: 0;
}

.mask li:nth-child(2) {
	color: #fff;
	font-size: 1px;
	text-align: center;
}

.mask li:nth-child(2) input:hover {
	cursor: pointer;
}

.mask-wrapper {
	height: 47px;
}

.mask-wrapper .fileInputText {
	height: 45px;
	width: 100%;
	box-shadow: none;
	border: none;
	text-align: center;
	background-color:  #999;
	color: #fff;
	padding-left: 5px;
	/*padding-right: 5px;*/
	overflow-x: scroll;
}

/********************style-post-items*************************/


.postItemsBlock .postItem:last-child {
	/*background-color: red;*/
	/*margin-left: 25%;*/
}

.postItemsBlock .postItem:nth-child(odd) {
	float: left;
}

.postItemsBlock .postItem:nth-child(even) {
	margin-left: 0;
	float: right;
}

.postItemsBlock {
	/*background-color: #32896E;*/
	background-color: #FAFAFA;
	border-radius: 3px;
	margin-bottom: 40px;
	padding: 30px 20px 10px 20px;
	border-radius: 3px;
	border: 1px solid #E9E9E9;
	/*box-shadow: 0px 0px 24px #F5F4F4;*/
}

.post {
	background-color: #fff;
	border: 1px solid #E6E6E6;
	border-radius: 3px;
	padding: 0;
	margin-top: 40px;
	margin-bottom: 30px;
}

.post-information {
	background-color: #fff;
	margin: 0;
	padding: 8px 25px 10px 25px;
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #E9E9E9;
}

.post-information a {
	float: left;
	color: #346BA9;
	font-size: 20px;
	padding-top: 6px;
	/*font-weight: bold;*/
}

.post-information h4 {
	float: right;
	color: #bbb;
	font-size: 17px;
	margin-left: 30px;
}

.postLimit {
	color: #999;
}

.postLimit li {
	padding-bottom: 3px;
	border-bottom: 1px solid #eee;
}

.postLimit span {
	margin-left: 5px;
	color: #999;
}

.postLimit div {
	color: #555;
	display: inline-block;
	margin-left: 5px;
}

.dateLimit {
	margin-right: 30px;
}


.postHead {
	max-height: 185px;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 0;
	/*background-color: #FAFAFA;*/
	border-radius: 0 0 3px 3px;
}

.postName {
	margin-bottom: 0;
	color: #444;
	/*text-shadow: 1px 1px #999;*/
	font-size: 28px;
	padding: 20px;
}

.postDesc {
	font-size: 15px;
	font-style: italic;
}

.alignPostTitle {
	padding: 0;
	background-color: #32896E;
	/*border-radius: 3px;*/
	margin: 0 0 0 50px;
	text-align: center;
	vertical-align: middle;
	height: 185px;
	line-height: 180px;

	/*box-shadow: 0 2px 4px rgba(0, 0, 0, .2);*/
}

.alignPostTitle img {
	/*padding-top: 5px;*/
	max-width: 100%;
	max-height: 185px;
}

.postItem {
	padding-right: 10px;
	/*min-height: 200px;*/
	margin: 0 0 20px 0;
}


.postBody {
	border-radius: 3px 3px 0 0;
	background-color: #fff;
	/*border: 1px solid #666;*/
	/*margin-top: -20px;*/

	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}


.alignItems {
	background-color: #fff;
	text-align: center;
	vertical-align: center;
	max-height: 240px;
	margin: 0;
}

.alignItems img {
	max-height: 240px;
	max-width: 100%;
}

.itemName {
	background-color: #fff;
	color: #000;
	padding: 15px 8px 15px 8px;
}

.itemName h3 {
	margin: 0;
}

.itemDesc {
	overflow: hidden;
	padding: 20px 8px 20px 12px;
	/*border-bottom: 2px dotted #999;*/
	color: black;
	font-style: italic;
}

/*.statistics li:first-child {
	top: 1px;
	left: 5px;
	position: relative;
	height: 20px;
	width: 20px;
	background-image: url(../images/icons/vote3.png);
	background-size: cover;
}*/

.statistics {
	border-top: 1px dashed #999;
	background-color: #fff;
	padding: 10px 20px 10px 20px;
	margin-bottom: 0;
	margin-top: -10px;
	border-radius:0 0 3px 3px;
	float: right;
	font-size: 25px;
	color: #333;

	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.statistics:before {
	content: '';
	top: 1px;
	left: -5px;
	display: inline-block;
	position: relative;
	height: 20px;
	width: 20px;
	background-image: url(../images/icons/vote3.png);
	background-size: cover;
}

.postItemInRow {
	border-radius: 2px;
	padding: 0;
	/*background-color: #fff;*/
	margin-bottom: 20px;
	height: 55px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.itemNameInRow {
	color: #333;
	overflow: hidden;
	display: table;
	background-color: #fff;
	border-radius: 2px 0 0 2px;
	/*margin-top: -10px;*/
}

.itemNameInRow h3 {
	display: table-cell;
	vertical-align: middle;
	height: 55px;
	font-size: 19px;
	margin: 0;
}

.statInRow {
	border-left: 1px dashed #555;
	height: 55px;
	padding: 16px 0 15px 25px;
	font-size: 22px;
	color: #555;
	background-color: #fff;
	float: right;
	border-radius: 0 2px 2px 0;
	/*margin-right: -3px;*/
}

.statInRow:before {
	content: '';
	display: block;
	position: absolute;
	top: 17px;
	left: 20px;
	height: 22px;
	width: 22px;
	background-image: url(../images/icons/vote3.png);
	background-size: cover;
	opacity: .7;
}

.btnVoteInRow {
	float: right;
	height: 55px;
	padding: 0;
	background-color: #fff;
	border: none;
	border-left: 1px dashed #777;
	border-radius: 0;
	color: #444;
}

.btnVoteInRow:hover {
	background-color: #eee;
}

.btnVoteInRow:focus {
	outline: none;
}

.btnVoteInRow:active {
	margin-top: 1px;
	border-radius: 0 2px 2px 0;
}


.btnVoteFull {
	background-color: grey;
	border: none;
	border-radius:0 0 3px 3px;
	opacity: .4;
	float: left;
	margin-top: -10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.post-footer {
	background-color: #eee;
	margin-top: 25px;
	border-top: 1px solid #E9E9E9;
	height: 40px;
	padding: 10px;
}

/*.twoItems {
	display: inline-block;
	margin: 0 10px 20px 0;
}

.twoItems .thumbnail {
	width: 300px;
}*/