html {
  background-color: #fafafa;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
}

.menu {
  /*background-color: #EAEAEA;*/
  /*background-color: #006699;*/
  /*background-color: #505355;*/
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 65px;
  /*background-image: url(../images/codepen.svg);*/
  box-shadow: 0px 1px 1px #EAEAEA;
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
}

.menu-items {
  font-family: "Helvetica";
  padding: 12px 0 0 0;
  font-size: 30px;
  text-shadow: 1px 1px 1px #bbb;
  /*opacity: .9;*/
}

.main-page {
  text-align: center;
  margin-top: -7px;
}

.main-page a {
  /* Embed this font from Adobe Edge Web Fonts at
https://edgewebfonts.adobe.com/fonts#/?collection=cookie */

  color: #444;
  font-family: cookie;
  font-feature-settings: "'liga' 1";
  font-kerning: auto;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-decoration: none;
  text-transform: none;
  word-spacing: 0em;
}

.constructor-page {
  text-align: center;
  /*background-color: red;*/
}

.constructor-page div {
  margin-left: 50%;
  /*margin-top: -4px;*/
  border-radius: 25px;
  width: 40px;
  height: 40px;
  /*background-color: #EF7C6D;*/
  /*background-color: #444;*/
  opacity: .97;
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
  /*border-bottom: 2px dashed #444;*/
}

.constructor-page div:before {
  content: '';
  background-image: url(../images/icons/create7.png);
  background-size: cover;
  height: 25px;
  width: 25px;
  top: 5px;
  /*left: 7px;*/
  position: relative;
  display: inline-block;
}

.constructor-page div:hover:before {
  opacity: 1;
  top: 6px;
  height: 27px;
  width: 27px;
}

.constructor-page div:hover {
  opacity: 1;
}

.constructor-page div:active {
  -moz-box-shadow:    inset 1px 1px 4px #bbb;
  -webkit-box-shadow: inset 1px 1px 4px #bbb;
  box-shadow:         inset 1px 1px 2px #bbb;
}

.constructor-page div a {
  height: 38px;
  width: 38px;
  border-radius: 27px;
  opacity: .3;
  top: -34px;
  left: 1px;
  position: relative;
  display: block;
  cursor: pointer;
  /*background-color: red;*/
}

.profile-page {
  text-align: center;
  overflow: hidden;
}

.profile-page a {
  font-size: 20px;
  text-shadow: none;
  /*color: #0C70B6;*/
  color: #444;
}

.auth-page {
  text-align: center;
}

.auth-page a {
  color: #444;
  margin-right: 10px;
  margin-top: 8px;
  font-size: 20px;
  /*color: #fff;*/
}


/*.menu-items a:hover {
  color: #fff;
  color: #346BA9;
  text-shadow:1px 1px 1px #444;
}*/

/************************profile*******************************/

.profile-information {
  margin-top: 20px;
  background: none;
  padding: 0;
  /*background-color: red;*/
}

.profile-picture {
  /*background-color: blue;*/
  width: 130px;
  height: 132px;
  margin-top: 30px;
  /*margin-left: 30px;*/
}

.alignProfileImg {
  background-color: #fff;
  text-align: center;
  vertical-align: center;
  height: 130px;
  width: 130px;
  margin: 0;
  border-radius: 250px;
  overflow: hidden;
  border: 1px solid #eee;
  line-height: 125px;
}

.alignProfileImg img {
  /*margin-left: -10px;
  margin-top: -15px;*/
  max-height: 130px;
  max-width: 130px;
}

.profileStats {
  margin-top: 20px;
}

#login {
  font-size: 28px;
}

.profile-description {
  display: inline-block;
  margin-top: 10px;
  font-size: 17px;
}

.profile-description span {
  min-height: 1px;
}

.profileName {
  font-weight: bold;
}

.profileDesc {
  margin-left: 5px;
}

.profile-stat {
  font-size: 18px;
  padding: 0;
}

.follow {
  padding: 0;
  margin-top: 10px;
}

.follow button {
  border: none;
  border-radius: 2px;
  opacity: .9;
  color: #fff;
}

.follow button:hover {
  opacity: 1;
  color: #fff;
}

.follow button:focus {
  outline: none;
}

.unfollow {
  padding: 0;
  margin-top: 10px;
}

.unfollow button:focus {
  outline: none;
}

.log-out {
  padding: 0;
  margin-top: 10px;
}

.log-out button {
  border: none;
  border-radius: 2px;
  opacity: .9;
  color: #fff;
  background-color: #444;
}

.log-out button:hover {
  color: #fff;
  background-color: #666;
}

.profile-stat ul {
  margin: 0;
  padding: 0;
}

.profile-stat li {
  margin-right: 20px;
  margin-top: 10px;
  padding: 0;
}

.empty-posts {
  margin-top: 100px;
  /*background-color: #bbb;*/
  font-size: 20px;
}

/*************************************post*****************************************/

.right-post-menu {
  margin: 0 auto;
}

.deletePost {
  background: none;
  border: none;
  /*background-image: url(../images/icons/delete16.png);*/
  /*background-size: cover;*/
  margin-top: 4px;
  /*width: 30px;*/
  height: 30px;
  opacity: .5;
}

.deletePost:hover {
  opacity: .9;
  /*background-image: url(../images/icons/delete7.png);*/
  cursor: pointer;
  /*margin-top: 1px;*/
}

.deletePost:focus {
  outline: none;
}

.alignPostImg {
  background-color: #fff;
  text-align: center;
  vertical-align: center;
  height: 36px;
  width: 36px;
  margin: 0 10px 0 -5px;
  border-radius: 250px;
  overflow: hidden;
  border: 1px solid #eee;
  line-height: 32px;
  float: left;
}

.alignPostImg img {
  max-height: 34px;
  max-width: 34px;
}

/*.statistics li:first-of-type {

}

.statistics li:last-of-type {
}*/

/*.post .thumbnail {
  padding: 0;
  border: none;
}*/



/*****************************posts******************************/

.sorting-params {
  margin-top: 45px;
  color: #666;
}

.sorting-params div {
  padding: 1px;
}

#activeSorting {
  color: #333;
  border-bottom: 1px dashed #666;
}

.sortAllPosts {
  background-color: #FAFAFA;
  padding: 2px;
  font-size: 20px;
  margin-right: 10px;
}

.sortAllPosts:hover {
  background-color: #FAFAFA;
  color: #333;
  border-radius: 0;
  cursor: pointer;
}

.sortFollowers {
  background-color: #FAFAFA;
  padding: 2px;
  /*color: #666;*/
  font-size: 20px;
}

.sortFollowers:hover {
  background-color: #FAFAFA;
  color: #333;
  border-radius: 0;
  cursor: pointer;
}


/************************profile*****************************/

#profileSettings {
  margin-top: 10px;
  margin-left:  4px;
  margin-right: 5px;
  padding: 0;
}

/*#profileSettings button {
  display: inline-block;
  background-color: #FAFAFA;
  margin-left: 12px;
  height: 25px;
  width: 27px;
  background-image: url(../images/icons/settings6.png);
  background-size: cover;
  opacity: .7;
  cursor: pointer;
  box-shadow: none;
  border: none;
}*/

#profileSettings button {
  border: 1px solid #999;
  border-radius: 2px;
  opacity: .9;
  color: #444;
  background-color: #fff;
}

#profileSettings button:hover {
  border: 1px solid #777;
  opacity: 1;
}

#profileSettings button:focus {
  outline: none;
  box-shadow: none;
}

#userPosts {
  cursor: pointer;
}

#subscriptions {
  cursor: pointer;
}

#followers {
  cursor: pointer;
}

#subscriptions-followers {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 100px;
}

.subs {
  background-color: #fff;
  border-radius: 2px;
  /*border: 1px solid #eee;*/
  padding: 10px;
  margin: 10px 0 0 0;
  /*box-shadow: 0 0 2px #999;*/
  box-shadow: 1px 2px 0px 0 rgba(150, 150, 150, 0.16),0 2px 10px 0 rgba(205, 205, 205, 0.12);
}

.subs-login {
  float: left;
  margin-top: 4px;
  margin-left: 14px;
  font-size: 22px;
  width: 178px;
  overflow: hidden;
}

.subs-login a {
  color: #222;
}

.subs-login a:hover {
  color: #337ab7;
}

.subs-logo {
  float: left;
}

#unfollow {
  margin: 0;
  color: #444;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 2px;
  opacity: .9;
}

#unfollow:hover {
  opacity: 1;
}

#follow {
  margin: 0;
  background-color: #444;
  color: #fff;
}

.alignSubsImg {
  background-color: #fff;
  text-align: center;
  vertical-align: center;
  height: 36px;
  width: 36px;
  margin: 0 0 0 -5px;
  border-radius: 250px;
  overflow: hidden;
  border: 1px solid #eee;
  line-height: 32px;
}

.alignSubsImg img {
  max-height: 34px;
  max-width: 34px;
}

.subs-btn {
  margin-top: 2px;
  float: right;
}

.subs-btn .btn-unfollow {
  /*margin-top: 10px;*/
  /*background-color: #E19494;*/
  color: #444;
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 2px;
  opacity: .9;
}

.subs-btn .btn-follow {
  /*margin-top: 10px;*/
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 2px;
  opacity: .9;
}

.subs-btn.unfollow button:hover {
  opacity: 1;
  color: #fff;
}

.profile-stat li span:first-child {
  margin-right: 3px;
  font-weight: bold;
}
.profile-stat li span:last-child {

}

/*.userImg div:nth-child(1) {
  padding:0;
  margin-bottom: 15px;
}*/

.btnImg {
  background-color: #fff;
  border: 1px dashed #C6C6C6;
  border-radius: 4px;
  margin: 0;
  padding: 8px;
}

.btnImg:focus {
  outline: none;
}

.btnImg:active {
  border: 1px solid #C6C6C6;
  background-color: #eee;
}

.profileSetImgBlock {
  background-color: #fff;
  padding: 0;
  margin-bottom: 20px;
  /*border: 1px dashed #C6C6C6;*/
  border-radius: 2px;
  box-shadow: 0 0px 3px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12);
}

.alignmentProfileImg {
  text-align: center;
  vertical-align: center;
  height: 210px;
  line-height: 210px;
  margin-bottom: 15px;
}

.alignmentProfileImg img {
  max-height: 200px;
  max-width: 100%;
}

#inputMaskProfile {
  background: #FBFBFB url(../images/icons/choice.png) 50% 30% no-repeat;
  height: 45px;
  cursor: pointer;
  margin-top: -45px;
  border-bottom: 1px solid #eee;
}

.fileInput {
  cursor: pointer;
  height: 45px;
  width: 100%;
  margin-top: 0;
  opacity: 0;
  padding: 0;
}

.download-image {
  box-shadow: none;
  width: 100%;
  border: none;
  height: 45px;
  background: #CDDDD3 url(../images/icons/save_image3.png) 50% 40% no-repeat;
}

.download-image:hover {
  background-color: #9BCDAD;
}

.download-image:focus {
  outline: none;
}

.mask-wrapper .fileInputText {
  height: 45px;
  width: 100%;
  box-shadow: none;
  border: none;
  text-align: center;
  background-color: #999;
  color: #fff;
  padding-left: 5px;
  /*padding-right: 5px;*/
  overflow-x: scroll;
}

.profileSetImgBlock .mask-wrapper .fileInputText {
  font-size: 13px;
}

.btnProfileSet {
  background-color: #444;
  color: #fff;
  border-radius: 2px;
}

.btnProfileSet:hover {
  background-color: #666;
  color: #fff;
  border-radius: 2px;
}

/***********************login***********************/

.authForm {
  background-color: #fff;
  margin-top: 25px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16),0 2px 6px 0 rgba(0,0,0,0.12);
  border-radius: 2px;
  padding: 0;
}

.authTitle {
  background-color: #fff;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #eee;
  padding: 3px;
}

.authTitle h4 {
  font-size: 20px;
  padding: 0;
  color: #444;
}

.authBody {
  padding: 15px 15px 0 15px;
  border-bottom: 1px solid #eee;
}

.authBody button {
  /*width: 100%;*/
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  color: #444;
  opacity: .9;
}

.authBody button:hover {
  color: #222;
  border: 1px solid #777;
  opacity: 1;
}

.authBody button:focus {
  outline: none;
}

.socialButtons {
  background-color: #444;
  padding: 12px 10px 10px 10px;
  text-align: center;
}

.socialButtons a {
  margin-right: 10px;
}

.loginTwitter {
  display: inline-block;
  border-radius: 20px;
  height: 30px;
  width: 30px;
  background-image: url(../images/icons/twitter2.png);
  background-size: cover;
}
/*
.loginTwitter:hover {
  opacity: .9;
}
*/
.loginVk {
  display: inline-block;
  /*background-color: red;*/
  height: 30px;
  width: 30px;
  background-image: url(../images/icons/vk2.png);
  background-size: cover;
}

.loginFacebook {
  display: inline-block;
  /*background-color: red;*/
  height: 30px;
  width: 30px;
  background-image: url(../images/icons/facebook.png);
  background-size: cover;
}

.loginGoogle {
  display: inline-block;
  /*background-color: red;*/
  height: 30px;
  width: 30px;
  background-image: url(../images/icons/google.png);
  background-size: cover;
}

.loginInstagram {
  display: inline-block;
  /*background-color: red;*/
  height: 30px;
  width: 30px;
  background-image: url(../images/icons/instagram.png);
  background-size: cover;
}

.messageLogin {
  margin-top: 20px;
}

.messageLogin h4 {
  color: #CE5E5E;
}

/***********************registration***********************/

.regForm {
  background-color: #fff;
  margin-top: 45px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16),0 2px 6px 0 rgba(0,0,0,0.12);
  border-radius: 2px;
  padding: 0;
}

.regTitle {
  background-color: #fff;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #eee;
  padding: 3px;
}

.regTitle h4 {
  font-size: 20px;
  padding: 0;
  color: #444;
}

.regBody {
  padding: 15px 15px 0 15px;
  border-bottom: 1px solid #eee;
}

.regBody button {
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  color: #444;
  opacity: .9;
}

.regBody button:hover {
  color: #222;
  border: 1px solid #777;
  opacity: 1;
}

.regBody button:focus {
  outline: none;
}

.messageReg {
  margin-top: 20px;
}

.messageReg h4 {
  color: #CE5E5E;
}

.messageRegSuccess {
  margin-top: 20px;
}

.messageRegSuccess h4 {
  color: #555;
}

/*********************profile-settings*****************/

small {
  margin-left: 7px;
}

#profile-settings {
  margin-bottom: 50px;
}

#profile-settings h4 {
  color: #444;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 0;
}

.profile-item .page-header {
  cursor: pointer;
}

.messages {
  display: table;
  background-color: #C6C6C6;
  height: 182px;
  border-radius: 4px;
  color: #fff;
  float: right;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 20px;
}

.messages h3 {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}

.errInput input {
  border-color: rgb(223, 120, 120);
  background-color: rgb(237, 173, 173);
  color: #fff;
}

.errInput input::-webkit-input-placeholder {
  color: #fff;
}

.errInput input:focus {
  border-color: rgb(223, 120, 120);
  box-shadow: 0 0 2px rgb(223, 120, 120);
}


/*****************************constructer******************************/

.postBlock {
  padding: 0;
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 20px;
  margin-top: 65px;
}

.constructorTitle {
  opacity: .8;
}

.constructorTitle:before {
  content: '';
  background-image: url(../images/icons/create7.png);
  background-size: cover;
  height: 28px;
  width: 28px;
  /*top: 5px;*/
  left: -10px;
  position: relative;
  display: inline-block;
}


.postName {
  margin-top: 15px;
  margin-bottom: 5px;
}

.postName a {
  color: #444;
}

/*.constructorPostHead {
  margin: 0 0 20px 0;
  padding: 0;
  background-color: red;
}*/

.constructorPostInfo {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 15px 15px 15px 15px;
}

.constructorPostInfo input {
  border: 1px solid #bbb;
  box-shadow: none;
  border-radius: 3px;
  margin-bottom: 20px;
  /*height: 50px;*/
}

.constructorPostInfo input:focus {
  box-shadow: none;
  border-color: #888;
}

.constructorPostInfo textarea {
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: none;
  /*height: 50px;*/
}

.constructorPostInfo textarea:focus {
  box-shadow: none;
  border-color: #888;
}

/*.image {
  margin: 0 0 0 -15px;
  background-color: #999;
  background-image: url(../images/default-thumb.gif);
  background-size: cover;
  height: 250px;
  width: 250px;
  /*border: 1px solid #E4E4E4;*/
}*/

.postDesc {
  margin-top: 5px;
  margin-bottom: 20px;
}

.postDesc textarea {
  height: 100px;
}

.constructorPanel {
  margin-bottom: 30px;
  padding: 0;
}

.constructorPanel div:first-child {
  margin-bottom: 20px;
}

.display-type ul {
  padding: 0;
  margin: 0;
}

.display-type li {
  margin: 0;
  padding: 8px 10px 8px 10px;
}

.display-type li:first-child {
  position: relative;
  font-size: 15px;
}

#activeStr {
  /*background-color: #EF7C6D;*/
  background-color: #444;
  color: #fff;
}

.fullStrItems {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 2px 0 0 2px;
  background-color: #fff;
  font-size: 15px;
  color: #999;
  /*height: 25px;
  width: 25px;
  background-image: url(../images/icons/square-menu.png);
  background-size: cover;
  opacity: .4;*/
}

.fullStrItems:hover {
  cursor: pointer;
}

.shortStrItems {
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 0 2px 2px 0;
  background-color: #fff;
  font-size: 15px;
  color: #999;
  /*opacity: .4;
  height: 25px;
  width: 25px;
  background-image: url(../images/icons/list-items.png);
  background-size: cover;
*/
}

.shortStrItems:hover {
  cursor: pointer;
}

.counter {
  float: left;
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
  height: 33px;
  width: 33px;
  color: #999;
  padding-top: 4px;
  font-size: 20px;
}

.addItem {
  float: left;
  padding: 8px;
  box-shadow: none;
  border: none;
  border-radius: 2px;
  background-color: #444;
  font-size: 15px;
  color: #fff;
}

.addItem:hover {
  cursor: pointer;
}

.addItem:active {
  margin-top: -1px;
}

.addItem:focus {
  outline: none;
}

.messageConstructor {
  /*height: 70px;*/
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid #999;
  border-radius: 14px;
}

.messageConstructor h3 {
  /*padding-left: 20px;*/
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  color: #444;
}

.messageConstructor div:nth-child(2) {
  /*padding: 3px 0 0 0;*/
  height: 68px;
  display: table;
  margin-left: -13px;
}

.messageConstructor div:nth-child(1) {
  height: 68px;
  background: url(../images/icons/warning3.png) 30% 50% no-repeat;
  opacity: .6;
}

.thumbnail {
  padding: 0;
}

.item .thumbnail {
  border-radius: 0;
  /*margin-bottom: 0;*/
}

/*
.item img {
  background-color: #eee;
  margin: 0;
  padding: 0;
  height: 350px;
  width: 100%;
}*/

.itemBody p:nth-child(1) {
  padding: 5px;
  margin: 0;
}

.itemBody {
  margin-top: -5px;
  margin-bottom: 0;
  border: none;
  /*background-color: #EF7C6D;*/
  background-color: #444;
}

.itemBody input {
  background-color: #fff;
  border: none;
}

.group-items {
  /*border: 1px solid #eee;*/
  padding: 30px 15px 15px 15px;
  /*background-color: #EF7C6D;*/
  background-color: #444;
  margin-top: 20px;
}

.delItemShort {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  opacity: .8;
  font-size: 25px;
  color: #fff;
  background: url(../images/icons/delete13.png) 50% 50% no-repeat;
  background-size: 30px 30px;
}

.delItemShort:hover {
  opacity: 1;
  cursor: pointer;
}

.delItemShort:active {
  margin-top: 6px;
}

.delItemFull {
  /*margin-bottom: 20px;*/
  margin-top: -43px;
  /*float: left;*/
  margin-left: 48%;
  height: 35px;
  width: 35px;
  opacity: .8;
  font-size: 20px;
  color: #fff;
  /*background-color: red;*/
  background-image: url(../images/icons/delete14.png);
  background-size: cover;

  /*opacity: .6;*/
}

.delItemFull:hover {
  /*background-color: rgb(244, 127, 127);*/
  border: none;
  opacity: 1;
  color: #444;
  cursor: pointer;
}

.delItemFull:active {
  margin-top: -42px;
}

.goToSettingsBlock {
  padding: 0;
}

.goToSettings {
  background-color: #fff;
  /*padding-bottom: */
  width: 282px;
  height: 52px;
  font-size: 20px;
  color: #333;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0;
}

.savePostBlock {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 10px;
}

.savePost {
  margin: 0 auto;
  /*background-color: #5480A3;*/
  background-color: #444;
  width: 170px;
  height: 52px;
  padding: 14px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-bottom: 20px;
  /*float: right;*/
  text-align: center;
  /*margin-left: 53px;*/
}

/*
.save::before {
  content: url(../images/icons/postSave3.png);
  position: relative;
  opacity: .9;
  top: 7px;
  left: -10px;
}*/

.savePost:hover {
  cursor: pointer;
  background-color: #666;
  color: #fff;
}

.postItemsBlockInRow {
  /*background-color: #32896E;*/
  background-color: #FAFAFA;
  border-radius: 3px;
  margin-bottom: 40px;
  padding: 30px 20px 10px 20px;
  border-radius: 3px;
  border: 1px solid #E9E9E9;
  /*box-shadow: 0px 0px 24px #F5F4F4;*/
}

.postItemsBlock {
  /*background-color: #32896E;*/
  background-color: #FAFAFA;
  border-radius: 3px;
  margin-bottom: 40px;
  padding: 30px 20px 10px 20px;
  border-radius: 3px;
  border: 1px solid #E9E9E9;
  /*box-shadow: 0px 0px 24px #F5F4F4;*/
}



.goToSettings::before {
  content: url(../images/icons/postSettings.png);
  position: relative;
  top: 10px;
  left: -10px;
}

.openSettings {
  background-color: #fff;
  /*padding-bottom: */
  font-size: 20px;
  color: #333;
  border: 1px solid #eee;
  /*border-radius: 4px;*/
  margin-bottom: 40px;
  margin-top: 22px;
}

.titleSettings h3 {
  margin: 10px 0 0 0;
  font-size: 20px;
}

.titleSettings h3::before {
  content: url(../images/icons/postSettings.png);
  position: relative;
  top: 10px;
  left: -10px;
}

/*.checkboxBlock {
  padding: 0;
  margin-bottom: 10px;
  background-color: red;
  /*margin-top: 5px;*/
}*/

.openSettings .row {
  font-size: 15px;
}

#onlyForReg {
  position: relative;
  top: 3px;
  left: -10px;
  height: 15px;
  width: 15px;
}

#onlyForReg:hover::after {
  opacity: .8;
  content: 'Голосование только для авторизированных пользователей';
  position: absolute;
  width: 200px;
  left: 15px; top: 20px;
  z-index: 1;
  background: #fff;
  font-size: 11px;
  padding: 5px 10px;
  color: #888;
  border-radius: 2px;
  border: 1px solid #bbb;
}

.settingsMes {
  margin-top: 52px;
  height: 170px;
  border-radius: 4px;
  background-color: #eee;
  display: table;
}

.newSettingsMessage {
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
}

#countVotesForEnd {
  width: 80px;
  margin-left: 25px;
}

.pollParams {
  margin-top: 10px;
  padding: 0;
}

.pollParams div {
  padding: 0;
  margin-top: 20px;
  font-size: 15px;
}

.pollParams div h4 {
  text-align: center;
  margin-bottom: 25px;
}

.pollParams  div ul {
  margin-bottom: 20px;
  /*margin-left: 50px;*/
}

.pollParams  div ul:last-child {
  margin-top: -5px;
}

.pollParams div ul li:nth-child(2n) {
  /*float: right;*/
  width: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.pollParams div ul li:nth-child(3n) {
  /*float: right;*/
  width: 100px;
  /*margin-left: 5px;*/
}

.pollParams div ul li:nth-child(1) {
  width: 50%;
  text-align: right;
}

.pollParams div ul li label {
  margin-top: 7px;
}

#timeForEndHours {
  width: 80px;
}

#timeForEndDate {
  width: 150px;
}

#hoursCheckbox {
  position: relative;
  top: 3px;
  left: -10px;
  height: 15px;
  width: 15px;
}

#dateCheckbox {
  position: relative;
  top: 3px;
  left: -10px;
  height: 15px;
  width: 15px;
}

.constructorInfo {
  margin-top: 100px;
  border-radius: 4px;
  height: 220px;
  /*background-color: #fff;*/
  padding: 0;
}

.constructorInfo h3 {
  font-size: 20px;
}

.constructorComplete h4 {
  margin-top: 30px;
  font-size: 20px;
}

.shareToFriends {
  height: 170px;
  background-color: #fff;
  border: 1px solid #eee;
}

.socialNet li {
  height: 40px;
  width: 40px;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.socialNet li:nth-child(1) {
  background-image: url(../images/icons/vk.png);
  position: relative;
  background-size: cover;
}

.socialNet li:nth-child(2) {
  background-image: url(../images/icons/twitter.png);
  position: relative;
  background-size: cover;
}

.socialNet li:nth-child(3) {
  background-image: url(../images/icons/fb.png);
  position: relative;
  background-size: cover;
}

.postLink {
  margin-top: 20px;
  color: #888;
}

.postLink span {
  margin-left: 5px;
  color: #888;
}

.postLink span:hover {
  color: blue;
}

.goToPost {
  background-color: #619BBD;
  height: 50px;
  cursor: pointer;
}

.goToPost h3 {
  margin-top: 13px;
  color: #fff;
}

.postImageBlock {
  background-color: #eee;
  margin-right: 15px;
  padding: 0;
}

.alignmentPostImg {
  text-align: center;
  vertical-align: center;
  height: 200px;
  line-height: 200px;
}

.alignmentPostImg img {
  padding-top: 5px;
  max-height: 200px;
  max-width: 250px;
}

.alignmentItemsImg {
  background-color: #fff;
  text-align: center;
  vertical-align: center;
  height: 240px;
  line-height: 250px;
}

.alignmentItemsImg img {
  padding-top: 5px;
  max-height: 200px;
  max-width: 100%;
}

.postImageBlock form {
  background-color: #666;
  height: 45px;
}

.fullItem {
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#inputMask {
  background: #FBFBFB url(../images/icons/choice.png) 50% 30% no-repeat;
  height: 45px;
  cursor: pointer;
  margin-top: -45px;
  border-bottom: 1px solid #eee;
}

.mask-wrapper .fileInputText {
  height: 45px;
  width: 100%;
  box-shadow: none;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  text-align: center;
  background-color: #FBFBFB;
  color: #999;
  padding-left: 5px;
  overflow-x: scroll;
}

.fileInput {
  cursor: pointer;
  height: 45px;
  width: 100%;
  margin-top: 0;
  opacity: 0;
  padding: 0;
}

.mask-wrapper {
  /*margin-top: -1px;*/
  /*margin-left: -1px;*/
}

.mask-wrapper .send-file {
  height: 45px;
}

.download-image {
  box-shadow: none;
  width: 100%;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  height: 45px;
  background: #FBFBFB url(../images/icons/save_image3.png) 50% 40% no-repeat;
}

.download-image:hover {
  background-color: #eee;
}

.download-image:focus {
  outline: none;
}

.mask {
  margin: 0;
}

.mask li {
  padding: 0;
}

.mask li:nth-child(2) {
  color: #fff;
  font-size: 1px;
  text-align: center;
}

.mask li:nth-child(2) input:hover {
  cursor: pointer;
}

.mask-wrapper {
  height: 47px;
}


/********************style-post-items*************************/

.post {

  /*box-shadow: 0 -1px 5px 0 #eee,0 1px 5px 0 #eee;*/
}

.postItemsBlock .postItem:last-child {
  /*background-color: red;*/
  /*margin-left: 25%;*/
}

.postItemsBlock .postItem:nth-child(odd) {
  float: left;
}

.postItemsBlock .postItem:nth-child(even) {
  margin-left: 0;
  float: right;
}

.post {
  background-color: #fff;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 30px;
}

.post-information {
  background-color: #fff;
  margin: 0;
  padding: 10px 25px 8px 25px;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #E9E9E9;
}

.post-information a {
  float: left;
  color: #346BA9;
  font-size: 20px;
  padding-top: 6px;
  /*font-weight: bold;*/
}

.post-information h4 {
  float: right;
  color: #bbb;
  font-size: 17px;
  margin-left: 30px;
}

.postLimit {
  color: #999;
}

.postLimit li {
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
}
.postVoteLim span {
  margin: 0 5px 0 5px;
}

.postVoteLim div:nth-child(1) {
  margin-left: 5px;
}

.postLimit span {
  color: #999;
}

.postLimit div {
  color: #555;
  display: inline-block;
}

.dateLimit {
  margin-right: 30px;
}

.dateLimit div {
  margin-left: 5px;
}

.pollFinished {
  /*color: #111;*/
}

.notAuthorized:before {
  content: '';
  top: 3px;
  left: -5px;
  display: inline-block;
  position: relative;
  height: 17px;
  width: 17px;
  background-image: url(../images/icons/lock2.png);
  background-size: cover;
}

.postHead {
  /*max-height: 185px;*/
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
  /*background-color: #FAFAFA;*/
  border-radius: 0 0 3px 3px;
}

.postName {
  margin-bottom: 0;
  color: #444;
  /*text-shadow: 1px 1px #999;*/
  font-size: 28px;
  padding: 20px;
}

.postDesc {
  font-size: 15px;
  font-style: italic;
  overflow: hidden;
}

.alignPostTitle {
  padding: 0;
  background-color: #32896E;
  /*border-radius: 3px;*/
  margin: 0 0 0 50px;
  text-align: center;
  vertical-align: middle;
  height: 185px;
  line-height: 180px;

  /*box-shadow: 0 2px 4px rgba(0, 0, 0, .2);*/
}

.alignPostTitle img {
  /*padding-top: 5px;*/
  max-width: 100%;
  max-height: 185px;
}

.postItem {
  padding-right: 10px;
  /*min-height: 200px;*/
  margin: 0 0 20px 0;
}


.postBody {
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  /*border: 1px solid #666;*/
  /*margin-top: -20px;*/

  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}


.alignItems {
  background-color: #fff;
  text-align: center;
  vertical-align: center;
  max-height: 240px;
  margin: 0;
}

.alignItems img {
  max-height: 240px;
  max-width: 100%;
}

.itemName {
  background-color: #fff;
  color: #000;
  padding: 15px 8px 15px 8px;
  overflow: hidden;
}

.itemName h3 {
  margin: 0;
}

.itemDesc {
  overflow: hidden;
  padding: 20px 8px 20px 12px;
  /*border-bottom: 2px dotted #999;*/
  color: black;
  font-style: italic;
}

/*.statistics li:first-child {
  top: 1px;
  left: 5px;
  position: relative;
  height: 20px;
  width: 20px;
  background-image: url(../images/icons/vote3.png);
  background-size: cover;
}*/

.statistics {
  text-align: left;
  border-top: 1px dashed #999;
  background-color: #fff;
  padding: 10px 10% 10px 10%;
  margin-bottom: 0;
  margin-top: -10px;
  border-radius:0 0 3px 3px;
  float: right;
  font-size: 25px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.statistics:before {
  content: '';
  top: 1px;
  left: -5px;
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  background-image: url(../images/icons/vote3.png);
  background-size: cover;
}

.statisticsPercent {
  position: relative;
  float: right;
  margin-top: -33px;
  margin-right: 10%;
  /*margin-top: 6px;*/
  /*margin-left: 15px;*/
  font-size: 18px;
  color: #777;
}

.statisticsPercent:after {
  content: '';
  top: 0px;
  left: 3px;
  display: inline-block;
  position: relative;
  height: 14px;
  width: 14px;
  opacity: .5;
  background-image: url(../images/icons/percent2.png);
  background-size: cover;
}


.postItemInRow {
  border-radius: 2px;
  padding: 0;
  /*background-color: #fff;*/
  margin-bottom: 20px;
  height: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.itemNameInRow {
  color: #333;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  border-radius: 2px 0 0 2px;
  overflow: hidden;
  height: 60px;
  /*padding: 5px 0 5px 0;*/
  /*margin-top: -10px;*/
}

.itemNameInRow div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  overflow: hidden;
  margin: 0;
}

.statInRow {
  border-left: 1px dashed #555;
  height: 60px;
  padding: 16px 0 15px 25px;
  font-size: 22px;
  color: #555;
  background-color: #fff;
  float: right;
  border-radius: 0 2px 2px 0;
  /*margin-right: -3px;*/
}

.statInRow:before {
  content: '';
  display: block;
  position: absolute;
  top: 17px;
  left: 20%;
  height: 22px;
  width: 22px;
  background-image: url(../images/icons/vote3.png);
  background-size: cover;
  opacity: .7;
}

.statInRowPercent {
  position: relative;
  float: left;
  width: 50px;
  margin-top: -36px;
  margin-left: -48px;
  /*margin-right: -45px;*/
  text-align: left;
  font-size: 18px;
  color: #999;
  text-shadow: 1px 1px 2px #fff;
}

.statInRowPercent:after {
  content: '';
  /*top: 1px;*/
  left: 2px;
  display: inline-block;
  position: relative;
  height: 13px;
  width: 13px;
  opacity: .4;
  background-image: url(../images/icons/percent2.png);
  background-size: cover;
}

.usersVote:before {
  background-image: url(../images/icons/vote_heart.png);
  opacity: 1;
}

.btnVoteInRow {
  float: right;
  height: 60px;
  padding: 0;
  background-color: #fff;
  border: none;
  border-left: 1px dashed #777;
  border-radius: 0;
  color: #444;
}

.btnVoteInRow:hover {
  background-color: #eee;
}

.btnVoteInRow:focus {
  outline: none;
}

.btnVoteInRow:active {
  margin-top: 1px;
  border-radius: 0 2px 2px 0;
}

.btnVoteInRowDisabled {
  float: right;
  height: 55px;
  padding: 0;
  background-color: #bbb;
  border: none;
  border-left: 1px dashed #777;
  border-radius: 0;
  color: #444;
  opacity: .5;
}


.btnVoteFull {
  background-color: grey;
  border: none;
  border-radius:0 0 3px 3px;
  opacity: .4;
  float: left;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btnVoteFullDisabled {
  background-color: #999;
  color: #000;
  border: none;
  border-radius:0 0 3px 3px;
  opacity: .4;
  float: left;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: .3;
  cursor: auto;
}

.btnVoteFullDisabled:focus {
  outline: none;
}

.btnVoteFullDisabled:active {
  outline: none;
  border: none;
  box-shadow: none;
}


.post-footer {
  background-color: #fff;
  margin-top: 25px;
  border-top: 1px solid #E9E9E9;
  height: 40px;
  /*padding: 10px;*/
}

.indicators {
  /*background-color: #fff;*/
  /*height: 40px;*/
  padding: 0;
  margin-top: 6px;
}

.privatePost {
  color: #9E9E9E;
  font-size: 18px;
}

.privatePost:hover::after {
  opacity: .8;
  content: 'Голосование только для авторизированных пользователей';
  position: absolute;
  left: 19px; top: -35px;
  z-index: 1;
  width: 200px;
  background: #fff;
  font-size: 11px;
  padding: 5px 10px;
  color: #888;
  border-radius: 2px;
  border: 1px solid #bbb;
}

.publicPost {
  color: #9E9E9E;
}

.postRating {
  color: #999;
  font-size: 20px;
}

.privatePost:before {
  content: '';
  top: 1px;
  /*left: -5px;*/
  display: inline-block;
  position: relative;
  height: 17px;
  width: 17px;
  background-image: url(../images/icons/lock2.png);
  background-size: cover;
}

.publicPost:before {
  content: '';
  /*top: -4px;*/
  color: #eee;
  left: -3px;
  display: inline-block;
  position: relative;
  height: 15px;
  width: 15px;
  background-image: url(../images/icons/lock5.png);
  background-size: cover;
}


.postRating:before {
  content: '';
  top: 3px;
  /*left: -1px;*/
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  opacity: .4;
  background-image: url(../images/icons/vote6.png);
  background-size: cover;
}

.share {
  float: right;
  padding-top: 5px;
  height: 40px;
  padding-right: 0;
}

.share li {
  opacity: .7;
}

.share li:hover {
  opacity: 1;
  cursor: pointer;
}

.shareVK {
  background-image: url(../images/icons/share_vk.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: -5px;
}

.shareVK a {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 20px;
  display: inline-block;
}

.shareTwitter {
  background-image: url(../images/icons/share_twitter.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: -5px;
}

.shareTwitter a {
  border-radius: 20px;
  height: 30px;
  width: 30px;
  display: inline-block;
  position: relative;
}

/*.twoItems {
  display: inline-block;
  margin: 0 10px 20px 0;
}

.twoItems .thumbnail {
  width: 300px;
}*/

@media only screen and (max-width: 767px) {

  .auth-page {
    margin-top: -5px;
    font-size: 20px;
  }

  .goToSettingsBlock {
    width: 100%;
    margin-bottom: 20px;
  }

  .goToSettings {
    margin: 0 auto;
  }

  .savePostBlock {
    width: 100%;
    margin-bottom: 40px;
  }

  .savePost {
    margin: 0 auto;
  }

  .display-type ul {
    float: left;
  }

  .postItemsBlockInRow {
    /*background-color: #32896E;*/
    background-color: #FAFAFA;
    border-radius: 3px;
    margin-bottom: 40px;
    padding: 30px 10px 10px 10px;
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    /*box-shadow: 0px 0px 24px #F5F4F4;*/
  }

  .postItemsBlock {
    /*background-color: #32896E;*/
    background-color: #FAFAFA;
    border-radius: 3px;
    margin-bottom: 40px;
    padding: 30px 15px 10px 15px;
    border-radius: 0;
    border: none;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    /*box-shadow: 0px 0px 24px #F5F4F4;*/
  }

  .itemNameInRow h3 {
    font-size: 15px;
  }

  .itemNameInRow {
    width: 80%;
  }

  .btnVoteInRow {
    font-size: 11px;
    width: 20%;
  }

  .statInRow {
    width: 20%;
  }

  .pad-left-50 {
    padding-left: 50px;
  }

  .statInRowPercent {
    font-size: 16px;
    margin-left: -42px;
  }

  .statInRowPercent:after {
    height: 12px;
    width: 12px;
  }

  .alignProfileImg {
    margin: 0 auto;
    margin-top: -20px;
  }

  .profile-picture {
    width: 100%;
  }

  .profileStats {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .profileStats ul {
    margin-top: 10px;
  }

  .profile-description {
    margin-top: 20px;
  }

  .itemNameInRow div {
    font-size: 17px;
  }
}
